@import url("modules/body.css");
@import url("modules/header.css");
@import url('modules/search.css');
@import url('modules/video.css');
@import url('modules/videogrid.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.playlistbox {
    display: block;
    background: pink;
    height: 1000px;
    width: 250px;
    float: right;
    margin-top: 60px;
    margin-right: 40px;

}