.playlistbox {
    display: block;
    background: #f2f4f6;
    height: 1000px;
    width: 18%;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    border-radius: 5px;
    font-family: Roboto, Arial, sans-serif;
    box-sizing: border-box;
}

.playlistbox ul {
    text-align: left;
    list-style-type: none;
}

.playlistbox li {
    margin-bottom: 10px;
    background: white;
    width: 80%;
}

.delete {
    display: block;
    height: 30px;
    width: 30px;
    background: url('../../html/delete.png');
    position: relative;
    left: 90%;
    bottom: 80px;
}

#savebutton, #loadbutton {
    display: block;
    height: 35px;
    width: 150px;
    background: #71e2a6;
    line-height: 35px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin: 0 auto;
    margin-bottom: 10px !important;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: white;
}