#errormsg, #confirmmsg {
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    color: red;
    margin-left: 30px;
}

#confirmmsg {
    color: #71e2a6 !important;
    margin-left: 30px;
}

.home #errormsg, .home #confirmmsg {
    margin-left: 0px !important;
}

