#searchwrap {
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 30px;
    box-sizing: border-box;
    float: left;
    margin-left: 20%;
}

#searchwrap h1 {
    margin-bottom: 0px;
    margin-top: 60px;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 20;
    color: white;
}

#searchquery {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
}

#submit {
    display: inline-block;
    padding: 10px;
    height: 60px;
    width: 150px;
    background: #71e2a6;
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}

#submit:hover {
    cursor: pointer;
}