.videogrid {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 32.5% 32.5% 32.5%;
    width: 80%;
    margin-left: 20px;
    float: left;
    margin-right: -40px;
    background: #282C35;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.videogrid > div {
    text-align: left;
    background: white;
    height: 200px;
    padding: 5px;
    margin-bottom: 30px;
    padding: 10px;
    background: #282C35;
}
